@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0c;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;     
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
 }
                
.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
 }
    
